/* FIXES */
@font-face {
  font-family: arcadeclassic;
  src: url(arcadeclassic/ARCADECLASSIC.TTF);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid {
  padding: 1.5rem;
  text-align: center;
}
.title {
  font-size: 3rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.title h2{
  color: seagreen;
  font-size: 5rem;
  margin-top:100px;
  font-weight: bold;
}
.title h1{
  color: seagreen;
  font-size: 6rem;
  margin-top: -40px;
  font-weight: bold;
}

.navbar {
  padding: 0.5rem;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
/* DEVELOPERS ADD CUSTOM CSS BELOW */

.buttontitle{
  display: flex;
  flex-direction: column;
  background: transparent;
  border: 0;
  color:black;
  font-size: 2rem;
  font-family: arcadeclassic;
}

.custom-class {
  color: red;
}


  /* button {
    background-color: #a3ff8f; 
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
} */
/*
.container-fluid {
  font-size: 68.9876679478349034784989809809848032840928340928049832048092px;
  text-align: left;
  padding: 50px, 0;
}
*/

.center-text {
  text-align: center;
}

.bg-clr{
  background-color: #219C90;
}
