/* FIXES */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container-fluid {
  padding: 1.5rem;
  text-align: center;
}
.navbar {
  padding: 0.5rem;
}
.button {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}
/* DEVELOPERS ADD CUSTOM CSS BELOW */

.custom-class {
  color: red;
}

.container-fluid {
  font-size: 68.9876679478349034784989809809848032840928340928049832048092px;
  text-align: left;
  padding: 50px, 0;
}

